*.bak
quartus_projects/
rom/cartridge/
include/*/config.vh
include/*/top_assignment.sv

# -------------------------
#   KiCad
# -------------------------
kicad/*/fp-info-cache
kicad/*/*.kicad_prl
kicad/*/*backups
kicad/*/gerber

# -------------------------
#   Visual Studio Code
# -------------------------

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
